# From https://wiki.archlinux.org/index.php/Wacom_Tablet
ACTION!="add|change", GOTO="wacom_end"
   # Match all wacom tablets with a serial ID starting with WACf or FUJ*
   ATTRS{id}=="WACf*" ENV{NAME}="Serial Wacom Tablet", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
   ATTRS{id}=="FUJ*" ENV{NAME}="Serial Wacom Tablet", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
LABEL="wacom_end"
